@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header, footer {
  background-color: #222222;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul {
  color: #FFFF;
}

header span {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

footer span {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu-header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 13px;
}

.menu-footer ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 13px;
}

section#delivery {
  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
}

span {
  font-weight: bold;
  font-size: 24px;
}

.banner-pizza {
  color: #39B24A;
}

.banner-and {
  color: #FFFF;
}

.banner-front {
  color: red;
}