body {
  font-family: 'Times New Roman', Times, serif;
}

dt {
  clear: left;
  float: left;
  font-weight: bold;
  margin-right: 5px;
  padding-left: 40px;
}

dd {
  margin-left: 0px;
}

footer {
  background-color: #005677;
  color: #FFFFFF;
  line-height: 50px;
  font-size: 20px;
}

h1, h2 {
  background-color: #C4C4C4;
  color: #005677;
}

h1 {
  letter-spacing: 3.5px;
}

h2 {
  font-weight: normal;
  padding-left: 10px;
}

header, footer {
  text-align: center;
}

section {
  margin: 0 auto;
  max-width: 1000px;
}

#image-header {
  height: 300px;
  width: 300px;
}

.image-footer {
  padding-left: 15px;
  vertical-align: middle;
}

.formacion-experiencia {
 padding-left: 120px; 
}
